github.com:
    git_protocol: ssh
    users:
        erix: {oauth_token: {{ onepasswordRead "op://Private/GitHub Token CLI/token" }}}
    user: erix
    oauth_token: {{ onepasswordRead "op://Private/GitHub Token CLI/token" }}
