{{- $osID := .chezmoi.os -}}
{{- if (and (eq .chezmoi.os "linux") (hasKey .chezmoi.osRelease "id")) -}}
{{-   $osID = printf "%s-%s" .chezmoi.os .chezmoi.osRelease.id -}}
{{- end -}}

{{- $email := promptStringOnce . "email" "Email address" -}}

{{- $machineTypeChoices := list "home" "work" "server" -}}
{{- $machineType := promptChoiceOnce . "machineType" "Machine type" $machineTypeChoices "home" -}}

{{- /* Backwards compatibility: set isWorkMachine based on machineType */ -}}
{{- $isWorkMachine := eq $machineType "work" -}}

[data]
    email = {{ $email | quote }}
    osid = {{ $osID | quote }}
    machineType = {{ $machineType | quote }}
    isWorkMachine = {{ $isWorkMachine }}
    isServerMachine = {{ eq $machineType "server" }}

[git]
    autoCommit = true
    autoPush = true

{{ if eq $machineType "server" -}}
# Server/AI Assistant - Use 1Password Service Account with token
[onepassword]
    mode = "service-account"
    # Set OP_SERVICE_ACCOUNT_TOKEN environment variable before running chezmoi
{{ else -}}
# Home/Work - Use regular 1Password account
[onepassword]
    mode = "account"
{{ end -}}
