{{- $osID := .chezmoi.os -}}
{{- if (and (eq .chezmoi.os "linux") (hasKey .chezmoi.osRelease "id")) -}}
{{-   $osID = printf "%s-%s" .chezmoi.os .chezmoi.osRelease.id -}}
{{- end -}}

{{- $email := promptStringOnce . "email" "Email address" -}}
{{- $isWorkMachine := promptBoolOnce . "isWorkMachine" "Is this a work machine" -}}

[data]
    email = {{ $email | quote }}
    osid = {{ $osID | quote }}
    isWorkMachine = {{ $isWorkMachine }}

[git]
    autoCommit = true
    autoPush = true
