#!/usr/bin/env bash

# List of apps to install
core_packages=(
  'git' # Needed to fetch dotfiles
  'vim' # Needed to edit files
  'zsh' # Needed as bash is crap
  'tmux'
)

# Checks if a given package is installed
command_exists () {
  hash "$1" 2> /dev/null
}


function install_debian () {
  echo -e "Installing ${1} via apt-get"
  sudo apt install $1
}
function install_arch () {
  echo -e "Installing ${1} via Pacman"
  sudo pacman -S $1
}
function install_mac () {
  echo -e "Installing ${1} via Homebrew"
  brew install $1
}
function get_homebrew () {
  echo -e "Setting up Homebrew"
  /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
  export PATH=/opt/homebrew/bin:$PATH
}

# Detect OS type, then triggers install using appropriate package manager
function multi_system_install () {
  app=$1
  {{ if eq .chezmoi.os "darwin" }}
  if ! command_exists brew; then get_homebrew; fi
  install_mac $app # MacOS via Homebrew
  {{ else if eq .chezmoi.os "linux" }}
  {{   if eq .chezmoi.osRelease.id "ubuntu" }}
  install_debian $app # Debian via apt-get
  {{   end }}
  {{ else }} 
  echo -e "Skipping ${app}, as couldn't detect system type"
  {{ end }}
}

# For each app, check if not present and install
for app in ${core_packages[@]}; do
  if ! command_exists ${app}; then
    multi_system_install $app
  else
    echo -e "${app} is already installed, skipping"
  fi
done

# set ZSH as default
if [[ $SHELL != *"zsh"* ]] && command_exists zsh; then
  echo -e "Setting ZSH as default shell"
  chsh -s $(which zsh) $USER
fi

# Install oh-my-zsh
if [ ! -d ~/.oh-my-zsh ]; then
  sh -c "$(curl -fsSL https://raw.githubusercontent.com/ohmyzsh/ohmyzsh/master/tools/install.sh)"
fi
