#!/bin/sh
{{ if eq .chezmoi.os "darwin" }}
brew install bat
brew install zoxide
{{ else if eq .chezmoi.os "linux" }}
{{   if eq .chezmoi.osRelease.id "ubuntu" }}
sudo apt install bat zoxide --assume-yes

# fix the bat executable
if hash batcat 2> /dev/null; then
  mkdir -p ~/.local/bin
  ln -s /usr/bin/batcat ~/.local/bin/bat  
fi
{{   end }}
{{ end }}
