#!/bin/bash

set -eufo pipefail

{{ $brews := list
     "alacritty"
     "bat"
     "curl"
     "exa"
     "fd"
     "git"
     "git-lfs"
     "gh"
     "lazyigit"
     "node"
     "ripgrep"
     "tmux"
     "wget"
     "zoxide" 
-}}

{{ $casks := list 
     "font-fira-code-nerd-font"
     "font-roboto-mono-nerd-font"
     "visual-studio-code"
     "vlc"
     "1password-cli"
-}}

brew bundle --no-lock --file=/dev/stdin <<EOF
{{ range ($brews | sortAlpha | uniq) -}}
brew "{{ . }}"
{{ end -}}
{{ range ($casks | sortAlpha | uniq) -}}
cask "{{ . }}"
{{ end -}}
EOF
