{{ $casks := list 
     "alacritty"
     "font-fira-code-nerd-font"
     "font-roboto-mono-nerd-font"
     "font-inconsolata-nerd-font"
     "visual-studio-code"
     "vlc"
     "1password-cli"
-}}

brew bundle --no-lock --file=/dev/stdin <<EOF
{{ range ($casks | sortAlpha | uniq) -}}
cask "{{ . }}"
{{ end -}}
EOF
