#!/bin/bash

set -eufo pipefail

{{ $brews := list
     "bat"
     "curl"
     "exa"
     "fd"
     "git"
     "git-lfs"
     "node"
     "ripgrep"
     "tmux"
     "wget"
     "zoxide" -}}

{{ $casks := list -}}

brew bundle --no-lock --file=/dev/stdin <<EOF
{{ range ($brews | sortAlpha | uniq) -}}
brew "{{ . }}"
{{ end -}}
{{ range ($casks | sortAlpha | uniq) -}}
cask "{{ . }}"
{{ end -}}
EOF
