{{ if eq .osid "linux-debian" "linux-raspbian" "linux-ubuntu" -}}
{{ $packages := list
     "bat"
     "build-essential"
     "curl"
     "fd-find"
     "fzf"
     "git"
     "git-lfs"
     "libfuse2"
     "ripgrep"
     "unzip"
     "zsh"
     "zoxide" -}}

{{ $sudo := "sudo " -}}
{{ if eq .chezmoi.username "root" -}}
{{   $sudo = "" -}}
{{ end -}}

#!/bin/bash

set -eufo pipefail

echo -e "Installing packages..."
{{ $sudo }}apt-get update
{{ $sudo }}apt-get install -y {{ $packages | join " " }}

sudo mkdir -p /etc/apt/keyrings
wget -qO- https://raw.githubusercontent.com/eza-community/eza/main/deb.asc | sudo gpg --dearmor -o /etc/apt/keyrings/gierens.gpg
echo "deb [signed-by=/etc/apt/keyrings/gierens.gpg] http://deb.gierens.de stable main" | sudo tee /etc/apt/sources.list.d/gierens.list
sudo chmod 644 /etc/apt/keyrings/gierens.gpg /etc/apt/sources.list.d/gierens.list
sudo apt update
sudo apt install -y eza

# fix the bat executable
target="/usr/bin/batcat"
link_name="$HOME/.local/bin/bat"

if hash batcat 2>/dev/null; then
    mkdir -p "$HOME/.local/bin"
    if [[ ! -L "$link_name" ]]; then
        ln -s "$target" "$link_name"
    fi
else
    printf "batcat is not installed\n" >&2
fi


{{ end }}
